<div class="wrapper">
  <div class="home-block">
    <div class="home-content">
      <h1 class="big-tlt">Currency Converter</h1>
      <p class="text">
        Check live rates, set rate alerts, receive notifications and more.
      </p>
      <div class="amount-block">
        <app-valute title="Amount"></app-valute>
        <div class="change-btn">
          <!-- <div class="line"></div> -->
          <hr />
          <img
            class="change-btn-icon"
            src="../../assets/icons/change.svg"
            alt="change"
          />
        </div>
        <app-valute title="Converted Amount"></app-valute>
      </div>
    </div>
  </div>
</div>
